<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Nosotros</title>
    <link rel="stylesheet" href="assets/css/styles2.css">
    <link rel="icon" href="assets/IMG/lodo_pestaña.jpg">
    
</head>
<body>
    <header id="header">

    
    <a href="/" class="btn-neon">
        <span id="span1"></span>
        <span id="span2"></span>
        <span id="span3"></span>
        <span id="span4"></span>
        INICIO
    </a>
    
    <br>
    <br>
    <br>

        <div class="container2">
            <span style="--l: '!E';">!E</span>
            <span style="--l: 's';">s</span>
            <span style="--l: 't';">t</span>
            <span style="--l: 'a';">a</span>
            <span style="--l: 'm';">m</span>
            <span style="--l: 'o';">o</span>
            <span style="--l: 's';">s</span>
        </div>

        <div class="container3">
            <span style="--l: 'p';">P</span>
            <span style="--l: 'a';">a</span>
            <span style="--l: 'r';">r</span>
            <span style="--l: 'a';">a</span>

        </div>



        <div class="container4">
            <span style="--l: 'A';">A</span>
            <span style="--l: 'y';">y</span>
            <span style="--l: 'u';">u</span>
            <span style="--l: 'd';">d</span>
            <span style="--l: 'a';">a</span>
            <span style="--l: 'r';">r</span>
            <span style="--l: 't';">t</span>
            <span style="--l: 'e¡';">e¡</span>
        </div>


    </header>

    
</body>
</html>